body {
  background-color: #0c0c0c;
  color: #dcdcdc;
  overflow: hidden;
}

#body-wrapper {
  padding-left: 0px !important;
}

.board-local {
  z-index: 5;
  position: absolute;
  left: 0px;
  top : 0px;
}

.board-remote {
  z-index: 1;
  position: absolute;
  left: 0px;
  top: 0px;
}

#board-wrapper {
  width: 4096px;
  height: 4096px !important;
  background-color: #6c879f;
}

#functions-bar {
  z-index: 20;
}

#pos {
  border-radius: 5px;
  border: 1px solid #0d0e0f;
}

.user-self {
  background-color: #1b1b1c;
}

#user-list td {
  padding: .25rem !important;
}

#user-list a {
  padding: 0 .25rem !important;
}

#user-list-wrapper {
  max-height: 300px;
  overflow-y: scroll;
  border-radius: 5px;
  border: 1px solid #0d0e0f;
}

#user-list {
  margin-bottom: 0 !important;
}

#user-list button {
  padding: 0 .25rem !important;
  width: 29px;
}

#user-list button:hover {
  background-color: #23272b !important;
  border-color: #1d2124 !important;
}

.table td, .table th {
  border-top: 1px solid #0d0e0f;
}

#btn-collapse-all {
  vertical-align: inherit !important;
  padding: 0 !important;
}

.bd-dark {
  border: 1px solid #0d0e0f;
}
