{% extends 'base/base.html' %}

{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block head_extend %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home/home.css' %}">
{% endblock %}

{% block content %}
  <div id="main" class="position-absolute jumbotron w-25 p-4">
    <svg id="box-header" viewBox="0 0 240 120" xmlns="http://www.w3.org/2000/svg">
      <!--
      <text x="10" y="55" class="letter">Skyray</text>
      <text x="65" y="100" class="letter">Labs</text>
      <text x="40" y="65" class="solid">Color</text>
      <text x="100" y="85" class="color">Solid</text>
      -->
    </svg>
    <a class="btn btn-primary btn-block" href="draw/">DRAW</a>
  </div>
  <div id="debug"></div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/home/home.js' %}" type="text/javascript"></script>
{% endblock %}
