{% extends 'home/labs.html' %}

{% block subtitle %} > Home{% endblock %}

{% block content_labs %}
  <script type="text/javascript">
    let letters = [
      {letter: 'S k y r a y', x: 10, y: 55},
      {letter: 'S', x: 10, y: 55},
      {letter: 'k', x: 48, y: 55},
      {letter: 'y', x: 81, y: 55},
      {letter: 'r', x: 115, y: 55},
      {letter: 'a', x: 141, y: 55},
      {letter: 'y', x: 174, y: 55},
      {letter: 'L a b s', x: 85, y: 100},
      {letter: 'L', x: 85, y: 100},
      {letter: 'a', x: 121, y: 100},
      {letter: 'b', x: 154, y: 100},
      {letter: 's', x: 190, y: 100},
    ];
  </script>
  <div class="row">
    <div class="col-xl-4 col-md-3 col-sm-1"></div>
    <div class="col-xl-4 col-md-6 col-sm-10">
      <a class="btn btn-primary btn-block" href="draw/">DRAW</a>
    </div>
    <div class="col-xl-4 col-md-3 col-sm-1"></div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div id="debug" class="text-light"></div>
    </div>
  </div>
{% endblock %}
