body {
  background-color: #0c0c0c;
  color: #dcdcdc;
}

#board {
  z-index: 5;
  position: absolute;
  width: 1500px;
  height: 900px;
  left: 0px;
  top : 0px;
}

#board-remote {
  z-index: 1;
  position: absolute;
  background-color: #fff;
  left: 0px;
  top: 0px;
}

#board-wrapper {
  width: 1500px;
  height: 900px;
}

#functions-bar {
  z-index: 20;
}
