{% extends 'foli/base.html' %}

{% load static %}

{% block title %}artist [{{ nickname }}]{% endblock %}

{% block head_extend %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/labs.css' %}">
{% endblock %}

{% block content %}
  {% include 'foli/nav.html' %}
  <div id="main" class="container-fluid">
    <div class="row border-bottom border-dark">
      {% if self %}
        <div class="col-0 col-md-1 col-lg-2 col-xl-3"></div>
        <div class="col-12 col-md-10 col-lg-8 col-xl-6 p-2 text-secondary">
          <h4 class="text-secondary">your profile</h4>
          <form action="{% url 'lobby' %}" method="POST" class="post-form">{% csrf_token %}
            {% for form in forms %}
              {% for hidden_field in form.hidden_fields %}
                {{ hidden_field.errors }}
                {{ hidden_field }}
              {% endfor %}

              <div class="input-group mb-3">
                {% for field in form.visible_fields %}
                  {{ field.errors }}
                  <div class="input-group-prepend">
                    <span class="input-group-text">{{ field.label_tag }}</span>
                  </div>
                  <input type="text" name="{{ field.name }}" id="{{ field.id_for_label }}" class="form-control {{ field.name }}"
                   value="{{ field.initial }}"
                   maxlength="{{ field.field.max_length }}" aria-describedby="nickname-descriptor"
                   {% if form.name.field.required %}required{% endif %}>
                   {% if field.name == 'nickname' %}
                     <div class="input-group-append">
                       <span id="hash-display" class="input-group-text">#{{ user_hash|slice:'0:4' }}</span>
                     </div>
                   {% endif %}
                   <div class="input-group-append">
                     <a role="button" class="btn btn-secondary" id="btn-randomize-{{ field.name }}" data-toggle="tooltip" data-placement="top" title="Randomize {% if field.name == "name" %}room {% endif %}{{ field.name }}">&#127922;</a>
                   </div>
                {% endfor %}
              </div>
            {% endfor %}
          </form>
        </div>
        <div class="col-0 col-md-1 col-lg-2 col-xl-3"></div>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
{% endblock %}
