{% extends 'foli/base.html' %}

{% load staticfiles %}

{% block title %}Labs{% block subtitle %}{% endblock %}{% endblock %}

{% block head_extend %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
{% endblock %}

{% block content %}
  <div id="main" class="container-fluid">
    <div class="row">
      <div class="col-xl-12"><a href="/">LABS HOME</a></div>
    </div>
    <div class="row">
      <div class="col-xl-5 col-lg-6 col-sm-10">
        <div id="logo" class="bg-transparent p-4 w-75">
          <svg id="box-header" viewBox="0 0 240 120" xmlns="http://www.w3.org/2000/svg">
            <defs>
              <linearGradient id="sun" gradientTransform="rotate(90)">
                {# <stop offset="5%"  stop-color="gold" stop-opacity="0.7" /> #}
                {# <stop offset="95%" stop-color="red" stop-opacity="0.7" /> #}
                <stop offset="5%"  stop-color="cyan" stop-opacity="0.4" />
                <stop offset="95%" stop-color="indigo" stop-opacity="0.4" />
              </linearGradient>
            </defs>

            <!-- using my linear gradient -->
            <circle cx="60" cy="60" r="50" fill="url('#sun')" />
            <circle cx="60" cy="60" r="50" fill="url('#sun')" />
            <!--
              <text x="10" y="55" class="letter">draw</text>
              <text x="65" y="100" class="letter">Labs</text>
              <text x="40" y="65" class="solid">Color</text>
              <text x="100" y="85" class="color">Solid</text>
            -->
          </svg>
        </div>
      </div>
    </div>
    {% block content_labs %}{% endblock %}
  </div>
{% endblock %}
