{% extends 'foli/base.html' %}

{% load static %}

{% block title %}Labs > Pass Chat{% endblock %}

{% block head_extend %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/pass_chat.css' %}">
{% endblock %}

{% block content %}
  {% include 'foli/nav.html' %}
  <div class="row border-top border-secondary">
    <div class="col-0 col-xl-2"></div>
    <div class="col-12 col-xl-8 text-box">
      <ul class="ul-text-box"></ul>
    </div>
  </div>
  <div class="row border-top border-secondary pt-3">
    <div class="col-0 col-xl-2"></div>
    <div class="col-12 col-xl-8">
      <input class="w-100 input-chat rounded p-2" value="test"></input>
      <button class="btn btn-block btn-primary btn-send mt-3">send</button>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    let room_id = "{{ room_id }}";
  </script>
  <script src="{% static 'js/socket.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/pass_chat.js' %}" type="text/javascript"></script>
{% endblock %}
