body {
  overflow-x: hidden;
  background-color: #0c0c0c;
}

.letter {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.black {
  fill: #0c0c0c;
}

.white {
  fill-rule: nonzero;
  fill: #dcdcdc;
  fill-opacity: 0.5;
}

.grey {
  fill: #343a40;
}

.red {
  fill: #f45e4e;
}

.green {
  fill: #73ec7b;
}

.blue {
  fill: #739dec;
}

.pink {
  fill: #ec73ea;
}
