{% extends 'base/base.html' %}

{% load staticfiles %}

{% block title %}Drawing{% endblock %}

{% block head_extend %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/draw/draw.css' %}">
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-2">
        <a href="/">HOME</a>
        <div id="pos">(0, 0)</div>
        <div id="users" class="container"></div>
      </div>
      <div class="col-xl-10">
        <canvas id="board" height="900px" width="1500px"></canvas>
        <canvas id="board-remote" height="900px" width="1500px"></canvas>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    const room_name = {{ room_name_json }};
  </script>
  <script src="{% static 'js/draw/draw2.js' %}" type="text/javascript"></script>
{% endblock %}
