{% extends 'labs/base.html' %}

{% load staticfiles %}

{% block subtitle %} > Drawing Lobby{% endblock %}

{% block head_extend %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/draw/lobby.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/labs/header.css' %}">
{% endblock %}

{% block content_labs %}
  <div class="row">
    <div class="col-xl-4 col-lg-4 col-md-2 col-xs-0"></div>
    <div class="col-xl-4 col-lg-6 col-md-8 col-xs-12">
      <h3 class="text-light">Create or join a drawing room</h3>
      <form action="{% url 'lobby' %}" method="POST" class="post-form">{% csrf_token %}
        {% for form in forms %}
          {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
          {% endfor %}

          <div class="input-group mb-3">
            {% for field in form.visible_fields %}
              {{ field.errors }}
              <div class="input-group-prepend">
                <span class="input-group-text">{{ field.label_tag }}</span>
              </div>
              <input type="text" name="{{ field.name }}" id="{{ field.id_for_label }}" class="form-control {{ field.name }}"
               value="{{ field.initial }}"
               maxlength="{{ field.field.max_length }}" aria-describedby="nickname-descriptor"
               {% if form.name.field.required %}required{% endif %}>
               {% if field.name == 'nickname' %}
                 <div class="input-group-append">
                   <span id="hash-display" class="input-group-text">#{{ user_id|slice:'0:4' }}</span>
                 </div>
               {% endif %}
               <div class="input-group-append">
                 <a role="button" class="btn btn-primary" id="btn-randomize-{{ field.name }}" data-toggle="tooltip" data-placement="top" title="Randomize name">&#127922;</a>
               </div>
            {% endfor %}
          </div>
        {% endfor %}
        <button class="btn btn-block btn-primary" type="submit">Create or join room</button>
      </form>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-2 col-xs-0"></div>
  </div>
  <div class="row">
    <div class="col-xl-4 col-sm-0"></div>
    <div class="col-xl-4 col-sm-12">
      {# <button id="room-submit" class="btn btn-block btn-primary">Create room</button> #}
    </div>
    <div class="col-sm-4 col-sm-0"></div>
  </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    const letters = [
      {letter: 'd r a w i n g', x: 3, y: 55},
      {letter: 'd', x: 3, y: 55},
      {letter: 'r', x: 39, y: 55},
      {letter: 'a', x: 65, y: 55},
      {letter: 'w', x: 99, y: 55},
      {letter: 'i', x: 141, y: 55},
      {letter: 'n', x: 163, y: 55},
      {letter: 'g', x: 199, y: 55},
    ];
    const [nicknames, room_names] = {{ random_choices }};
  </script>
  <script src="{% static 'js/labs/header.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/draw/lobby.js' %}" type="text/javascript"></script>
{% endblock %}
